$color-primary: #CF6F49;
$color-secondary: #FFCC99;
$color-dark-text: #333333;
$color-light-text: #FFFFFF;
$color-background: #f5f5f2;
$color-description: #64665c;
$color-border: #e6e8e3;
$color-highlight: #e7e8e3;