.btn-primary,
.btn-secondary {
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;
    height: 45px;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    gap: 2px;
}

.btn-primary {
    background-color: $color-primary;
    color: $color-light-text;

    &:hover {
        color: $color-secondary;
    }
}

.btn-secondary {
    color: $color-dark-text;
    background-color: white;
    border: 1px solid $color-border;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);

    &:hover {
        background: #f5f5f5;
    }
}

.highlight {
    padding: 5px 10px;
    border-radius: 24px;
    background-color: $color-highlight;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}